# Dependencies
/vendor/
/node_modules/

# IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Test output
/tests/_output/*
!/tests/_output/.gitkeep
/tests/e2e/test-data/
.phpunit.result.cache

# Logs
*.log

# Environment
.env

# Build artifacts
*.zip

# Composer
composer.lock

# Cache
phpcs-cache.json
phpstan-cache/

branch-config.json